.footer__index
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    height: 60px;
    justify-items: center;
    align-items: center;
    border-top: black solid 1px;
    margin-top: 100px;
    grid-area: footer;
}

.footer {
    font-family: 'Volkhov', serif;
    font-style: italic;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    height: 60px;
    align-items: center;
    justify-items: center;
    border-top: black solid 1px;
    bottom: 0;
    grid-area: footer; }

    .footer__periodos
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    background-color: white;
    border-top: black solid 1px;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 100%;
   height: 60px;
   align-items:center ;
   justify-items: center;
    grid-area: footer;
    margin-top: 400px;
    grid-area: footer;
}