.header
{
    grid-area: header;
    background-color:#FFCE01;

    .h1__vangogh
{
    font-weight: 600;
    text-align: center;
    height:40px;
    font-family: 'Volkhov', serif;
    font-style: italic;}

    .logotype
{
    height: 100%;
    padding-left: 48%;
    padding-right: 48%;
}
}