.nav
{
    font-family: 'Volkhov', serif;
    font-style: italic;
    font-weight: 600;
    background-color: #FFCE01;
    text-align: center;
    grid-area: nav;
    height: 80px;

    .nav__ul__li
{
    padding-top:28px ;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.li
{
    &:hover{

transform: scale(1.2);
}
}
}