*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import "header";
@import "nav";
@import "footer";
@import "grid-area";
@import"media-queries";

/*INDEX*/

/*MAIN*/
.main__index
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    margin-top: 130px;
    grid-area: main;

    .h2__index
    {
    text-align: center;
    margin-top: 10px;
    }
    
    @mixin sizes ($height, $width)
    {
        height: $height;
        width: $width;
    }

    .section__img1
    {
        @include sizes(300px, 250px);
        margin-bottom: 30px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px;
    }

    .section__img2
    {
        @extend .section__img1;
    }

    .section__img3
    {
        @extend .section__img1;
    }
    
    .section__img__index
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .section__p__index
    {
       text-align: center;
    }

    
} 


/*HISTORIA*/

/*MAIN*/

.main__historia
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-area: main;

p
{
margin: 2rem 3rem;
text-align: justify;
line-height: 25px;
}

.h3__historia
{
    font-size:medium;
    text-align: center;
}

.img__historia:hover
{
    transform: scale(0.9);
    transition: 2s;
    height:362px;
    width:420px;
}

}

/*PERIODOS*/

/*MAIN*/

.main__periodos
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    margin-top: 20px;
    grid-area: main;

 p
{
    line-height: 25px;
}

.section__periodos
{
display: flex;
margin-top: 20px;
justify-content: center;
}

.section__periodos1
{
    display: flex;
    justify-content: center;
}

.div__periodos
{
height: 400px;
width: 400px;
}


.div__periodos1
{
height: 80px;
width: 1000px;

}
}

/*MUSEO*/

/*MAIN*/

.main__museo
{
    text-align:center;
    list-style-position:inside;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    grid-area: main;
    margin-top: 10px;
    margin-bottom: 10px;

section
{
margin-top: 10px;
margin-bottom: 10px;
}
}

/*CONTACTO*/

/*MAIN*/

.img__contacto:hover
{
transform: scale(0.9);
transition: 2s;
}

.main__contacto
{
    text-align: center;
    font-family: 'Volkhov', serif; 
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-area: main;

.section__contacto
{
    width: 600px;
    margin-top: 10px;
}

.h2__contacto
{
    margin-top: 10px;
    margin-bottom: 15px;
}

.section
{
 margin-bottom: 30px;
}

.section__email
{
    margin-right: 4%;
    margin-bottom: 30px;
}

.checkbox
{
    display: flex;
    justify-content: center;
}
}