*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import "header";
@import "nav";
@import "footer";

/*INDEX*/

/*MAIN*/
.main__index
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    margin-top: 130px;
    grid-area: main;

    .h2__index
    {
    text-align: center;
    margin-top: 10px;
    }
    
    @mixin sizes ($height, $width)
    {
        height: $height;
        width: $width;
    }

    .section__img1
    {
        @include sizes(300px, 250px);
        margin-bottom: 20 px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px ;
    }

    .section__img2
    {
        @extend .section__img1;
    }

    .section__img3
    {
        @extend .section__img1;
    }
    
    .section__img__index
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .section__p__index
    {
        display:grid;
        grid-template-columns: 270px 270px 270px;
        grid-template-rows: 100%;
        text-align: center;
        justify-content: center;
    }

} 